{% extends 'base.html' %}
{% load humanize %}    
{% load static %}
{% block title %}Welcome to DARK WEBX
{% endblock title %} 
{% block content %}

<!-- HERO SECTION-->
<div class="container-fluid">
  <section class="hero pb-3 bg-cover bg-center d-flex align-items-center"
    style="background: url({% static 'img2/mari.jpeg' %})">
    <div class="container py-5">
      <div class="row px-4 px-lg-5">
        <div class="col-lg-12">
          <h2 class="text-uppercase font-weight-bold mb-2 text-primary">Sharjah Pharmaceuticals</h2>
          <h1 class="h2 text-uppercase mb-3 text-primary">SSD Chemicals</h1><a class="btn btn-dark">Browse
            collections</a>
        </div>
      </div>
    </div>
  </section>
  <!-- CATEGORIES SECTION-->
  <section class="pt-5">
    <header class="text-center">
      <p class="small text-muted small text-uppercase mb-1">All Available Product</p>
      <h2 class="h5 text-uppercase mb-4">Limited in stock and Ready for Delivery</h2>
    </header>
    <div class="row">
      {% for cat in category %}
      <div class="col-md-4 my-2"><a class="category-item" href=" {% url 'amydo:category' cat.slug %} ">
        <img class="img img-fluid" src="{{cat.image.url}}"
            alt="" /><strong class="category-item-title">{{cat.title}}</strong></a>
      </div>
      {% endfor %}
      
    </div>
  </section>
  <!-- TRENDING PRODUCTS-->
  <section class="py-5">
    <header>
      <p class="small text-muted small text-uppercase mb-1">Free Delivery</p>
      <h2 class="h5 text-uppercase mb-4">Popular products</h2>
    </header>
    <div class="row">
      <!-- PRODUCT-->
      {% for product in products %}
      <div class="col-xl-3 col-lg-4 col-sm-6">
        <div class="product text-center">
          <div class="position-relative mb-3">
            <div class="badge text-white bg-"></div><a class="d-block" href="#pricelist" data-bs-toggle="modal">
              <img class="img img-fluid w-100"
                src="{{product.image.url}}" alt="..." style='height: 18rem'></a>
            <div class="product-overlay">
              <ul class="mb-0 list-inline">
                <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-outline-dark" href="https://api.whatsapp.com/send?phone=00971552055696&text=hey,%20I%20want%20_________." target= '_blank'><i
                      class="fab fa-whatsapp"></i></a></li>
                <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-dark" href="#customernotice" data-bs-toggle="modal">Order Now</a>
                </li>
                <li class="list-inline-item me-0"><a class="btn btn-sm btn-outline-dark" href="#productView{{product.id}}"
                    data-bs-toggle="modal"><i class="fas fa-expand"></i></a></li>
              </ul>
            </div>
          </div>

        </div>
      </div>

      <!--  Modal -->
<div class="modal fade" id="productView{{product.id}}" tabindex="-1">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content overflow-hidden border-0">
      <button class="btn-close p-4 position-absolute top-0 end-0 z-index-20 shadow-0" type="button"
        data-bs-dismiss="modal" aria-label="Close"></button>
      <div class="modal-body p-0">
        <div class="row align-items-stretch">
          <div class="col-lg-6 p-lg-0"><a class="glightbox product-view d-block h-100 bg-cover bg-center"
              style="background: url({{product.image.url}})" href="{{product.image.url}}" data-gallery="gallery1"
              data-glightbox="Red digital smartwatch"></a><a class="glightbox d-none" href="{{product.image.url}}"
              data-gallery="gallery1" data-glightbox="Red digital smartwatch"></a><a class="glightbox d-none"
              href="{{product.image.url}}" data-gallery="gallery1" data-glightbox="Red digital smartwatch"></a></div>
          <div class="col-lg-6">
            <div class="p-4 my-md-4">
              <ul class="list-inline mb-2">
                <li class="list-inline-item m-0"><i class="fas fa-star small text-warning"></i></li>
                <li class="list-inline-item m-0 1"><i class="fas fa-star small text-warning"></i></li>
                <li class="list-inline-item m-0 2"><i class="fas fa-star small text-warning"></i></li>
                <li class="list-inline-item m-0 3"><i class="fas fa-star small text-warning"></i></li>
                <li class="list-inline-item m-0 4"><i class="fas fa-star small text-warning"></i></li>
              </ul>
              <div class="row align-items-stretch mb-4 gx-0">
                
                <div class="col-sm-5"><a class="btn btn-sm btn-dark" href="#customernotice" data-bs-toggle="modal">Order Now</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% comment %} customer notice modal {% endcomment %}
<div class="modal fade" id="customernotice" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-danger" id="exampleModalLabel">Important Notice</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
        When you contact us make sure you're ready to reply and complete your order!
        </p>
        <p>
          If you're not ready to place your order please do not contact us!
          
          We're doing our best to avoid time wasters 🙏
        </p>
        <p>
          When you contact us go straight to the point!
        </p>
        <ul style="list-style-type:none;">
          <li>
            <i class="fa fa-check text-danger"></i>What do you want?
          </li>
          <li>
            <i class="fa fa-check text-danger"></i> Quantity?
          </li>
          <li>
            <i class="fa fa-check text-danger"></i>Where do you want it to be delivere?
          </li>
          <li>
            <i class="fa fa-check text-danger"></i>Payment method (crypto recommended)
          </li>
          <li>
            <i class="fa fa-check text-danger"></i>Send your details
          </li>
        </ul>
        <p>

          Thank you.
        </p>
      </div>
      <div class="modal-footer">
        <a type="button" class="btn btn-primary" href="{% url 'amydo:product_detail' product.slug %}">See Details</a>
       
          <a type="button" class="btn btn-success"
            href="https://api.whatsapp.com/send?phone=00971552055696&text=hey,%20I%20want%20_________." target='_blank'>
            Continue
          </a>
      
      </div>
    </div>
  </div>
</div>
      {% comment %} customer notice modal {% endcomment %}
<div class="modal fade" id="pricelist" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-danger" id="exampleModalLabel">Best Price Just for You</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <p>
        AVAILABLE :
<br>

🛑  ❄️❄️COCAINE❄️❄️
<br>
HIGH PUREST (> 90 -96% <)
<br>
<ul>
  <li>5G   350chf/Btc</li>
  <li>10G 650chf/Btc</li>
  <li>25G  1650chf/Btc</li>
  <li>500G 17.500chf/Btc </li>
  <li>1KG  35.500chf/Btc</li>
</ul>
<br>
🛑 HASH / HASHISH :
<br>
<ul>
  <li> -Nicole kush</li>
  <li> -Ketama</li>
</ul>
<ul>
  <li> 50G   300chf</li>
  <li> 100G  550chf</li>
</ul>

🛑 LSD (Acid) 200-500ug: 🌈
<ul>
  <li>10stk   100chf</li>
  <li>23stk   200chf</li>
  <li>50stk   400chf</li>
</ul>
<br>

🛑 FAKE 100- 50€ NOTES
<ul>
  <li>20 Notes 300chf</li>
  <li>40 Notes 600chf</li>
</ul>
<br>
🛑 Mephedrone 4mmc meow, 

S KETAMINE: 💉
<ul>
  <li>10g    350chf</li>
  <li>20g    600chf</li>
  <li>35g    950chf</li>
  <li>50g    1400€chf</li>
  <li>100g   2600chf</li>
</ul>
<br>
🛑 XTC 💊 Audi 319mg
<ul>
  <li>10pills    50chf</li>
  <li>22 pills 100chf</li>
  <li>45pills   200chf</li>
</ul>
<br>
🛑 SPEED: ⚡
<ul>
  <li>14g    200chf</li>
  <li>28g   400chf</li>
  <li>56g   800chf</li>
  <li>112g   1400chf</li>
  <li>500g    3800chf</li>
</ul>
<br>
🛑 METH / CRYSTAL METH: ❄
<ul>
  <li>5g     300chf</li>
  <li>10g    600chf</li>
  <li>25g    1500chf</li>
  <li>50g    3000chf</li>
</ul>
<br>
🛑 M.D.M.A: ( 40€ X GRAMS )
<ul>
  <li>10g   400chf</li>
  <li>20g   800chf</li>
  <li>25g   1000chf</li>
  <li>50g   1850chf</li>
</ul>
<br>
🛑 HEROIN " SUGAR BROWN "
<ul>
  <li>1G   40chf</li>
  <li>10G   350chf </li>
</ul>
<br>
🛑 HEROINE "WHITE"
(From Asiatic connection)
<ul>
  <li>1G   60chf </li>
  <li>10G  500chf</li>
</ul>
<br>
Bestellvorgang: 1- Produktname und Menge 2- Nehmen Sie die Zahlung Ihrer Wahl unter den angebotenen vor 3- Geben Sie uns die Lieferadresse an
<br>
<ul>
  <li>Bitcoin... Payment👍</li>
  <li>Steamcard 👍</li>
  <li>ETH👍</li>
  <li>USDT👍</li>
  <li>ITunes 👍</li>
  <li>Amazon card 👍</li>
  <li>Paypal freinds and familly transfert 👍</li>
</ul>

       </p>
      </div>
      <div class="modal-footer">
        <a type="button" class="btn btn-primary" href="{% url 'amydo:product_detail' product.slug %}">See Details</a>
       
          <a type="button" class="btn btn-success"
            href="https://api.whatsapp.com/send?phone=00971552055696&text=hey,%20I%20want%20_________." target='_blank'>
            Continue
          </a>
      
      </div>
    </div>
  </div>
</div>
      {% endfor %}

    </div>
  </section>
  <!-- SERVICES-->
  <section class="py-5 bg-light">
    <div class="container">
      <div class="row text-center gy-3">
        <div class="col-lg-4">
          <div class="d-inline-block">
            <div class="d-flex align-items-end">
              <svg class="svg-icon svg-icon-big svg-icon-light">
                <use xlink:href="#delivery-time-1"> </use>
              </svg>
              <div class="text-start ms-3">
                <h6 class="text-uppercase mb-1">Free shipping</h6>
                <p class="text-sm mb-0 text-muted">Free shipping worldwide</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="d-inline-block">
            <div class="d-flex align-items-end">
              <svg class="svg-icon svg-icon-big svg-icon-light">
                <use xlink:href="#helpline-24h-1"> </use>
              </svg>
              <div class="text-start ms-3">
                <h6 class="text-uppercase mb-1">24 x 7 service</h6>
                <p class="text-sm mb-0 text-muted">Free shipping worldwide</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="d-inline-block">
            <div class="d-flex align-items-end">
              <svg class="svg-icon svg-icon-big svg-icon-light">
                <use xlink:href="#label-tag-1"> </use>
              </svg>
              <div class="text-start ms-3">
                <h6 class="text-uppercase mb-1">Festivaloffers</h6>
                <p class="text-sm mb-0 text-muted">Free shipping worldwide</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

{% endblock content %}
