{% extends 'base.html' %} {% load humanize %} {% load static %}
{% block title %}Welcome to DARK WEBX {% endblock title %} {% block content %}
<section class="py-5">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-6">
        <!-- PRODUCT SLIDER-->
        <div class="row m-sm-0">
          <div class="col-sm-12 order-1 order-sm-2">
            <div class="swiper product-slider">
              <div class="swiper-wrapper">
                <div class="swiper-slide h-auto">
                  {% if product.category.title == 'Money exchange' %}
                  <div class="glightbox product-view" data-gallery="gallery2"
                    data-glightbox="Product item 1">
                  <video controls autoplay class="img img-fluid">
                    <source src="{{product.image.url}}" type="video/mp4">
                    <source src="{{product.image.url}}" type="video/ogg">
                    Your browser does not support the video tag.
                  </video>
                </div>
                  
                  {% else %}
                  <a class="glightbox product-view" href="{{product.image.url}}" data-gallery="gallery2"
                    data-glightbox="Product item 1"><img class="img img-fluid" src="{{product.image.url}}" alt="..." /></a>
                  {% endif %}
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- PRODUCT DETAILS-->
      <div class="col-lg-6">
        <ul class="list-inline mb-2 text-sm">
          <li class="list-inline-item m-0">
            <i class="fas fa-star small text-warning"></i>
          </li>
          <li class="list-inline-item m-0 1">
            <i class="fas fa-star small text-warning"></i>
          </li>
          <li class="list-inline-item m-0 2">
            <i class="fas fa-star small text-warning"></i>
          </li>
          <li class="list-inline-item m-0 3">
            <i class="fas fa-star small text-warning"></i>
          </li>
          <li class="list-inline-item m-0 4">
            <i class="fas fa-star small text-warning"></i>
          </li>
        </ul>
      
        <div class="row align-items-stretch mb-4">
          <div class="col-sm-3 pl-sm-0">
            
            <a class="btn btn-dark btn-sm btn-block h-100 d-flex align-items-center justify-content-center px-0"
              href="https://api.whatsapp.com/send?phone=00971552055696&text=hey,%20I%20want%20_________."
              target="_blank">Order Now</a>
          </div>
        </div>
        <ul class="list-unstyled small d-inline-block">
          <li class="px-3 py-2 mb-1 bg-white">
            <strong class="text-uppercase">SKU:</strong><span class="ms-2 text-muted">039</span>
          </li>
          <li class="px-3 py-2 mb-1 bg-white text-muted">
            <strong class="text-uppercase text-dark">Category:</strong><a class="reset-anchor ms-2"
              href="#!">{{product.category}}</a>
          </li>
          <li class="px-3 py-2 mb-1 bg-white text-muted">
            <strong class="text-uppercase text-dark">Category:</strong><a class="reset-anchor ms-2" href="#!"> Pure
              {{product.subcategory}} </a>
          </li>
          <li class="px-3 py-2 mb-1 bg-white text-muted">
            <strong class="text-uppercase text-dark">Stock Available</strong>
            
          </li>
        </ul>
      </div>
    </div>
    <!-- DETAILS TABS-->
    <ul class="nav nav-tabs border-0" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link text-uppercase active" id="description-tab" data-bs-toggle="tab" href="#description"
          role="tab" aria-controls="description" aria-selected="true">Description</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-uppercase" id="reviews-tab" data-bs-toggle="tab" href="#reviews" role="tab"
          aria-controls="reviews" aria-selected="false">Reviews</a>
      </li>
    </ul>
    <div class="tab-content mb-5" id="myTabContent">
      <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
        <div class="p-4 p-lg-5 bg-white">
          <h6 class="text-uppercase">Product description</h6>
          <p class="text-muted text-sm mb-0">
            {{product.description}}
          </p>
        </div>
      </div>
      <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
        <div class="p-4 p-lg-5 bg-white">
          <div class="row">
            <div class="col-lg-8">
              <div class="d-flex mb-3">
                <div class="flex-shrink-0">
                  <img class="rounded-circle" src="{% static 'img/customer-1.png' %}" alt="" width="50" />
                </div>
                <div class="ms-3 flex-shrink-1">
                  <h6 class="mb-0 text-uppercase">Jason Doe</h6>
                  <p class="small text-muted mb-0 text-uppercase">
                    20 May 2020
                  </p>
                  <ul class="list-inline mb-1 text-xs">
                    <li class="list-inline-item m-0">
                      <i class="fas fa-star text-warning"></i>
                    </li>
                    <li class="list-inline-item m-0">
                      <i class="fas fa-star text-warning"></i>
                    </li>
                    <li class="list-inline-item m-0">
                      <i class="fas fa-star text-warning"></i>
                    </li>
                    <li class="list-inline-item m-0">
                      <i class="fas fa-star text-warning"></i>
                    </li>
                    <li class="list-inline-item m-0">
                      <i class="fas fa-star-half-alt text-warning"></i>
                    </li>
                  </ul>
                  <p class="text-sm mb-0 text-muted">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </p>
                </div>
              </div>
              <div class="d-flex">
                <div class="flex-shrink-0">
                  <img class="rounded-circle" src="{% static 'img/customer-2.png' %}" alt="" width="50" />
                </div>
                <div class="ms-3 flex-shrink-1">
                  <h6 class="mb-0 text-uppercase">Jane Doe</h6>
                  <p class="small text-muted mb-0 text-uppercase">
                    20 May 2020
                  </p>
                  <ul class="list-inline mb-1 text-xs">
                    <li class="list-inline-item m-0">
                      <i class="fas fa-star text-warning"></i>
                    </li>
                    <li class="list-inline-item m-0">
                      <i class="fas fa-star text-warning"></i>
                    </li>
                    <li class="list-inline-item m-0">
                      <i class="fas fa-star text-warning"></i>
                    </li>
                    <li class="list-inline-item m-0">
                      <i class="fas fa-star text-warning"></i>
                    </li>
                    <li class="list-inline-item m-0">
                      <i class="fas fa-star-half-alt text-warning"></i>
                    </li>
                  </ul>
                  <p class="text-sm mb-0 text-muted">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- RELATED PRODUCTS-->
    <h2 class="h5 text-uppercase mb-4">Related products</h2>
    <div class="row">
      <!-- PRODUCT-->
      {% for p in products %}
      <div class="col-lg-3 col-sm-6">
        <div class="product text-center skel-loader">
          <div class="d-block mb-3 position-relative">
            <a class="d-block" href="{% url 'amydo:product_detail' p.slug %}"><img class="img img-fluid w-100" style="height: 18rem;" src="{{p.category.image.url}}"
                alt="..." /></a>
          </div>
          <h6>
            <a class="reset-anchor" href="{% url 'amydo:product_detail' p.slug %}">{{p.name}}</a>
          </h6>
          <p class="small text-muted">${{p.price|floatformat:0|intcomma}}</p>
        </div>
      </div>
        {% endfor %}
      </div>
    </div>
</section>

{% endblock content %}