{% load cache %}
{% load static %}
{% load i18n %}
{% load humanize %}
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>
		{% block title %}
		  
		{% endblock title %}
	</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="all,follow">
	<!-- gLightbox gallery-->
	<link rel="stylesheet" href="{% static 'vendor/glightbox/css/glightbox.min.css' %}">
	<!-- Range slider-->
	<link rel="stylesheet" href="{% static 'vendor/nouislider/nouislider.min.css' %}">
	<!-- Choices CSS-->
	<link rel="stylesheet" href="{% static 'vendor/choices.js/public/assets/styles/choices.min.css' %}">
	<!-- Swiper slider-->
	<link rel="stylesheet" href="{% static 'vendor/swiper/swiper-bundle.min.css' %}">
	<!-- Google fonts-->
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;700&amp;display=swap">
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Martel+Sans:wght@300;400;800&amp;display=swap">
	
	<!-- theme stylesheet-->
	<link rel="stylesheet" href="{% static 'css/style.default.css' %}" id="theme-stylesheet">
	<!-- Custom stylesheet - for your changes-->
	<link rel="stylesheet" href="{% static 'css/custom.css' %}">
	<!-- Favicon-->
	<link rel="shortcut icon" href="{% static 'img/favicon.png' %}">

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css">
</head>
<style>
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}
</style>

<body>
	<div class="page-holder">
		<!-- navbar -->
		<header class="header bg-white">
			<div class="container px-lg-3">
				<nav class="navbar navbar-expand-lg navbar-light py-3 px-lg-0"><a class="navbar-brand" href="{% url 'amydo:index' %}"><span
							class="fw-bold text-uppercase text-dark">DARK WEBX</span></a>
					<button class="navbar-toggler navbar-toggler-end" type="button" data-bs-toggle="collapse"
						data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
						aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav me-auto">
							<li class="nav-item">
								<!-- Link--><a class="nav-link active" href="{% url 'amydo:index' %}">Home</a>
							</li>
							<li class="nav-item">
								<!-- Link--><a class="nav-link" href="">About Us</a>
							</li>
							<li class="nav-item">
								<!-- Link--><a class="nav-link" href="">Why US</a>
							</li>
							<li class="nav-item">
								<!-- Link--><a class="nav-link" href="">Contact US</a>
							</li>
							<li class="nav-item">
								<!-- Link--><a class="nav-link" href="">Pay Directly</a>
							</li>
							
						</ul>
						<!-- <ul class="navbar-nav ms-auto">
							<li class="nav-item"><a class="nav-link" href="{% url 'amydo:my-cart' %}"> <i
										class="fas fa-dolly-flatbed me-1 text-gray"></i>Cart<small
										class="text-gray fw-normal">(2)</small></a></li>
							<li class="nav-item"><a class="nav-link" href="#!"> <i class="far fa-heart me-1"></i><small
										class="text-gray fw-normal"> (0)</small></a></li>
							<li class="nav-item"><a class="nav-link" href="#!"> <i
										class="fas fa-user me-1 text-gray fw-normal"></i>Login</a></li>	
						</ul> -->
					</div>
				</nav>
			</div>
		</header>
			<!--  Modal -->
			<div class="container">

			{% block content %}
		  
		{% endblock content %}	
			</div>
		

<a href="https://api.whatsapp.com/send?phone=00971552055696&text=hey,%20I%20want%20_________." class="float" target="_blank">
<i class="fab fa-whatsapp my-float">
	
</i>
</a>
	</div>
	
	<!-- ======= Footer ======= -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="{% static 'main.js' %}"></script>

	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
	<!-- JavaScript files-->
	<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
	<script src="{% static 'vendor/nouislider/nouislider.min.js' %}"></script>
	<script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
	<script src="{% static 'vendor/choices.js/public/assets/scripts/choices.min.js' %}"></script>
	<script src="{% static 'js/front.js' %}"></script>
	<script>

		function injectSvgSprite(path) {

			var ajax = new XMLHttpRequest();
			ajax.open("GET", path, true);
			ajax.send();
			ajax.onload = function (e) {
				var div = document.createElement("div");
				div.className = 'd-none';
				div.innerHTML = ajax.responseText;
				document.body.insertBefore(div, document.body.childNodes[0]);
			}
		}
		injectSvgSprite('https://bootstraptemple.com/files/icons/orion-svg-sprite.svg');

	</script>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
	<!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
		integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
		

</body>
</html>